body {
    margin: 0;
    background-color: white;
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-areas:
        "top logo"
        "left model right"
        "bottom . .";
    grid-template-columns: auto 20%;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#logo {
    grid-area: logo;
    width: 15vw;
    height: auto;
    justify-self: end;
    align-self: start;
    margin: 10px;
}

#container {
    grid-area: model;
    justify-self: center;
    align-self: center;
}

#text-top {
    grid-area: top;
    text-align: center;
    padding: 20px;
}

#text-left {
    grid-area: left;
    padding: 20px;
    text-align: center;
    align-self: center;
}

#text-right {
    grid-area: right;
    padding: 20px;
    text-align: center;
    align-self: center;
}

#text-bottom {
    grid-area: bottom;
    text-align: center;
    padding: 20px;
}

@font-face {
    font-family: 'FORMULA1-BOLD';
    src: url('FORMULA1-BOLD.otf') format('opentype');
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "logo"
            "top"
            "model"
            "left"
            "right"
            "bottom";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
    }

    #logo {
        width: 25vw;
        justify-self: end;
    }

    #text-top,
    #text-left,
    #text-right,
    #text-bottom {
        padding: 10px;
        text-align: center;
    }

    #container {
        justify-self: center;
    }
}
