body {
    margin: 0;
    background-color: white;
    font-family: 'Arial Black', sans-serif;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}
#logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 10vw; /* vw is % of the viewport width */
    height: auto;
}
#text-overlay {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 4vw;
    font-family: 'Arial Black', sans-serif;
    white-space: nowrap;
}
@font-face {
    font-family: 'FORMULA1-BOLD';
    src: url('FORMULA1-BOLD.otf') format('opentype');
}

/* Styles for screens smaller than 768px (typical mobile screens) */
@media (max-width: 768px){
    #logo {
        width: 55vw;
        top: 5px;
        right: 5px;
    }
    #text-overlay {
        font-size: 6vw;
        top: 10px;
    }
}
